Day 1/input.txt
Day 10/test.txt
Day 10/test2.txt
Day 10/test3.txt
Day 11/input.txt
Day 1/test.txt
Day 10/input.txt
Day 11/test.txt
Day 2/input.txt
Day 2/test.txt
Day 3/input.txt
Day 3/test.txt
Day 4/input.txt
Day 4/test.txt
Day 5/
Day 6/input.txt
Day 6/test.txt
Day 7/input.txt
Day 7/test.txt
Day 8/input.txt
Day 8/test.txt
Day 9/input.txt
Day 9/test.txt
Day 12/input.txt
Day 12/test.txt
Day 13/input.txt
Day 13/test.txt
Day 14/input.txt
Day 14/test.txt
Day 15/input.txt
Day 15/test.txt
